.text-container{
    display: flex;
    flex-direction: column;
}
.title{
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 30px;
}
.text{
    margin: 0;
    line-height: 27px;
}

.input-container{
    display: flex;
    width: 100%;
    column-gap: 4vw;
    justify-content: center;
    padding-top: 3vw;
    position: fixed;
    bottom: 0;
    background-color: white;
    height: 22vw;
    left: 0;
}
.input-container > div{
    display: flex;
    width: 85%;
    height: fit-content;
    column-gap: 3vw;
    align-items: center;
}
.input-style{
    width: 100%;
    height: 43px;
    border-radius: 100px;
    border: none;
    background-color: #EDF0FA;
    padding: 0 4vw;
    outline: none;
    line-height: 30px;
}
.send{
    width: 32px;
    height: 32px;
}
