.write-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    row-gap: 5vw;
    margin-top: 7vw;
}
.input-style,
.textarea-style{
    width: 78%;
    border-radius: 10px;
    padding: 0 4%;
    outline: none;
    border: 0;
    line-height: 21px;
    font-size: 14px;
    background-color: #F6F7FB;
}
.input-style::placeholder,
.textarea-style::placeholder{
    color: #C6C6C6;
}
.input-style{
    height: 50px;
}
.textarea-style{
    height: 110vw;
    padding: 4%;
    resize: none;
}