.ssal{
    width: 25%;
}
.speech{
    width: 63%;
    margin-right: 5%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.speechContainer{
    display: flex;
    justify-content: center;
    column-gap: 2px;
    margin: 32px 0 ;
}
.ment{
    position: absolute;
    margin-left: 8px;
    font-weight: 600;
}