.text{
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;
}
.letterImg{
    width: 190px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    row-gap: 5%;
    animation: fadeOut 2s ease-in forwards;
}
.draw-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6vw;
    margin: 7vw 0 20vw 0;
}
.btn-style{
    width: 33vw;
    height: 40px;
    border-radius: 100px;
    border: none;
    color: #868CA2;
    background-color: #E3E6F0;
}

::-webkit-scrollbar {
    display: none;
}
.letter-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    position: relative;
    align-items: center;
    width: 100vw;
}

.letterImg {
    flex: 0 0 auto;
    margin: 0 10px;
    scroll-snap-align: center;
    transition: opacity 0.3s, transform 0.5s;
}

.letterImg.active {
    opacity: 1;
}

.popup-style{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-container{
    width: 80vw;
    height: auto;
    display: flex;
    padding: 6% 0%;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    row-gap: 6vw;
}
.category-container p{
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
}
.category{
    display: flex;
    justify-content: center;
    row-gap: 2vw;
    column-gap: 1.5vw;
    flex-wrap: wrap;
}
.category div{
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    color: var(--primary-color);
    width: fit-content;
    height: fit-content;
    padding: 1.5vw 3.5vw;
    text-wrap: nowrap;
}