.text{
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;
}
.letterImg{
    width: 190px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    row-gap: 5%;
}
.draw-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6vw;
    margin: 7vw 0 20vw 0;
}
.btn-style{
    width: 33vw;
    height: 40px;
    border-radius: 100px;
    border: none;
    color: #868CA2;
    background-color: #E3E6F0;
}