.popup{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    row-gap: 25px;
    padding: 7% 5% 5% 5%;
    border-radius: 20px;
    background-color: white;
}
.popup > div div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.popup p:first-child{
    font-weight: bold;
    text-align: center;
    font-size: 1.4rem;
    margin: 0;
}
.popup p:nth-child(2){
    color: var(--gray);
    margin: 0;
}