.joinContainer{
    display:flex; 
    flex-direction:column; 
    align-items:center;
    height:100%;
}
.joinBox{
    display:flex;
    flex-direction:column;
    width:calc(100% - 58px);
}

.inputContainer{
    display: flex;
    flex-direction: column;
    row-gap: 4vw;
    margin-top: 13vw;
}

.btnPosition{
    position: absolute;
    bottom: 116px;
}

.buttonDisabled{
    opacity: 0.5;
}

.showWarning{
    font-size: 12px;
}