
.letterCover{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 20px 0 25px 0;
}
.selectLetter{
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
.ClickedLetter{
   box-sizing:  border-box;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid #8D47FF;
}