.writeLetterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.writeLetterContainer div{
  justify-content: center;
}
.SendLetterButton {
  background-color: var(--main-color);
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 58px);
  font-size: 16px;
  height: 50px;
  position: relative;
}
